spring:
  application:
    name: USER-SERVICE
  config:
    import: "optional:configserver:CONFIGURATION-SERVICE"
  cloud:
    config:
      discovery:
        enabled: true
        service-id: CONFIGURATION-SERVICE

eureka:
  client:
    service-url:
      defaultZone: ${EUREKA_URI:http://localhost:8761/eureka}
  instance:
    prefer-ip-address: true
